@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --white: hsl(0, 0%, 100%)e;
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
}
body{
    font-family: "Space Grotesk", sans-serif;    
}
img{
    width: 100%;
}
input{
    height: 2.7rem;
    border-radius: 10px;
    padding-inline: .8rem;
    border: 1px solid var(--Dark-grayish-violet);
    width: 100%;
}
input:focus{
    border-color: var(--Very-dark-violet);
}



form, .input-aria{
    display: flex;
    flex-direction: column;
    
}
.input-aria{
    gap: .5rem;
}
.form-section{
    width: 370px;
    padding: 1rem 1.8rem;
}
form{
    gap: 1rem;
    margin: auto;
    max-width: 350px;
}
form .input-aria label{
    font-weight: 400;
}
form .grouped-aria{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
form .grouped-aria .input-aria:first-child{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;  
}
form .grouped-aria .input-aria:first-child input{
    width:4.5rem;
}

form .grouped-aria .input-aria:first-child label{
    grid-column: 1 / 3;
}







form #confirm{
background-color: var(--Very-dark-violet);
color: white;
font-weight: 600;
}



/* card */

.card-front, .card-back{
    width: 17rem;
    position: absolute;
    width: 280px;
    height: 140px;
}
.card-back{
    top: 3vh;
    left: 17%;
}
.card-back #card-cvc{
    position: absolute;
    top: 46%;
    right: 12%;
    z-index: 22;
}
.card-front{
    top: 18vh;
    left: 5%;
    background: url(./images/bg-card-front.png);
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    /* border: 2px solid red; */
    z-index: 6;
    
}
.card-front img{
    width: 50px;
    top: 6%;
    left: 3%;
}
.card-front p, .card-front img{
    position: absolute;
    z-index: 9;
    color: white;
}
.card-front #card-number{
    top: 40%;
    left: 8%;
    font-size: 21px;
}
.card-front #name{
    bottom: 10%;
    left: 3%;
    font-size: .8rem;
}
.card-front #exp-date{
    bottom: 10%;
    right: 3%;
    font-size: .8rem;
}
.img-bg{
    background: url("./images/bg-main-mobile.png");
    background-position: center;
    background-size: cover;
    height: 11rem;
    margin-bottom: 6rem;
    width: 100vw;
}
@media screen and (min-width: 975px) {
    body{
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }
    .img-bg{
        /* background: url("./images/bg-main-desktop.png") ; */
      width: 40%;
      height: 100vh;
      margin-bottom: 0;
    }
    .card-front, .card-back{
        transform: translate(0%, 100%);
    }
    .form-section{
        width: 65%;
    }
}

